<div class="signup-container">
  <h2>Registrarse</h2>
  <form [formGroup]="signupForm" (ngSubmit)="register()" nz-form class="signup-form">

    <!-- Nombre -->
    <nz-form-item>
      <nz-form-control>
        <input nz-input formControlName="name" placeholder="Nombre" id="username"/>
      </nz-form-control>
      <div *ngIf="signupForm.get('name')?.hasError('pattern') && signupForm.get('name')?.touched" class="error-message">
        Solo se permiten letras.
      </div>
      <div *ngIf="signupForm.get('name')?.hasError('required') && signupForm.get('name')?.touched" class="error-message">
        El nombre es requerido.
      </div>
    </nz-form-item>

    <!-- Email -->
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="email" formControlName="email" placeholder="Email" id="email"/>
      </nz-form-control>
      <div *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched" class="error-message">
        El email debe tener un formato válido.
      </div>
      <div *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched" class="error-message">
        El email es requerido.
      </div>
    </nz-form-item>

    <!-- Contraseña -->
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="password" placeholder="Contraseña" id="password"/>
      </nz-form-control>
      <div *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched" class="error-message">
        La contraseña es requerida.
      </div>
      <div *ngIf="signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched" class="error-message">
        La contraseña debe tener al menos 6 caracteres.
      </div>
    </nz-form-item>

    <!-- Confirmar Contraseña -->
    <nz-form-item>
      <nz-form-control [nzValidateStatus]="signupForm.hasError('notMatching') ? 'error' : ''">
        <input nz-input type="password" formControlName="confirmPassword" placeholder="Confirmar Contraseña" />
        <div *ngIf="signupForm.hasError('notMatching') && signupForm.get('confirmPassword')?.touched" class="error-message">
          Las contraseñas no coinciden.
        </div>
      </nz-form-control>
    </nz-form-item>

    <!-- Botón de registro -->
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="register()" [disabled]="signupForm.invalid">Registrarse</button>

    <p class="login-link">o <a routerLink="/login">Inicia sesión ahora!</a></p>
  </form>

</div>

<!-- Agregar la imagen del logo debajo del formulario -->
<div class="logo-container">
  <img src="assets/LogoSinFondo.png" alt="Logo" class="logo"/>
</div>
