<!-- Barra de navegación única en app.component.html -->
<nz-header class="main-header custom-navbar" nz-row nzType="flex">
  <div class="navbar-tittle">
    <a routerLink="/landing">
      Parada Nomada</a>
  </div>

  <div class="nav-links">
    <!-- Enlaces visibles para usuarios no autenticados -->
    <div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
      <a nz-button nzType="link" (click)="scrollToSection('services')">Servicios</a>
      <a nz-button nzType="link" (click)="scrollToSection('tariffs')">Tarifas</a>
      <a nz-button nzType="link" (click)="scrollToSection('contact')">Contacto</a>
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Inscribirse</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Inicio de sesión</a>
    </div>

    <!-- Enlaces visibles para administradores -->
    <div *ngIf="isAdminLoggedIn">
      <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Inicio</a>
      <a nz-button nzType="link" routerLink="/admin/plaza" routerLinkActive="active">Plaza</a>
      <a nz-button nzType="link" routerLink="/admin/bookings" routerLinkActive="active">Reservas</a>
      <a nz-button nzType="link" routerLink="/admin/search" routerLinkActive="active">Buscar</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Cerrar sesión</a>
    </div>

    <!-- Enlaces visibles para clientes -->
    <div *ngIf="isCustomerLoggedIn">
      <a nz-button nzType="link" routerLink="/customer/dashboard" routerLinkActive="active">Inicio</a>
      <a nz-button nzType="link" routerLink="/customer/my_bookings" routerLinkActive="active">Mis Reservas</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Cerrar sesión</a>
    </div>
  </div>
</nz-header>

<!-- El router-outlet para manejar las rutas -->
<router-outlet></router-outlet>
