<div *ngIf="isSpinning" class="loading-spinner">
  Cargando reservas...
</div>

<table *ngIf="!isSpinning && bookings.length > 0" class="bookings-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Fecha de llegada</th>
      <th>Fecha de salida</th>
      <th>Días</th>
      <th>Precio</th>
      <th>Estado</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings">
      <td>{{ booking.username || 'No disponible' }}</td>
      <td>{{ booking.email || 'No disponible' }}</td>
      <td>{{ booking.fromDate || 'No disponible' }}</td>
      <td>{{ booking.toDate || 'No disponible' }}</td>
      <td>{{ booking.days }}</td>
      <td>{{ booking.precio | currency:'EUR':'symbol':'1.2-2' }}</td>
      <td >
        {{ booking.bookPlazaStatus }}
      </td>
      <td>
        <button class="approve-btn" (click)="changeBookingStatus(booking.id, 'A')">Aprobar</button>
        <button class="reject-btn" (click)="changeBookingStatus(booking.id, 'R')">Rechazar</button>
      </td>

    </tr>
  </tbody>
</table>

<div *ngIf="!isSpinning && bookings.length === 0">
  No hay reservas registradas.
</div>
